
/* CSS styling for the circular photo icon + coin flip animation */

.photo-container{
    height: 40vh;
    width: 100vw;
    padding-top: 4%;
}

/* creating the circular photo icon */
.main-icon-photo{
    border-radius: 50%;
    width: 350px;
    height: 350px;
    justify-content: center;
}


/* glow animation on hover */
.main-icon-photo:hover {
    animation: fadeIn 0.3s linear;
    box-shadow: 12px 7px 10px #bababa;
    cursor: pointer;
}

@keyframes fadeIn {
    0% {box-shadow: 0px 0px 0px #bababa;}
    50% {box-shadow: 5px 5px 5px #bababa;}
    100% {box-shadow: 12px 7px 10px #bababa;}
  }
  
@-moz-keyframes fadeIn {
    0% {box-shadow: 0px 0px 0px #bababa;}
    50% {box-shadow: 5px 5px 5px #bababa;}
    100% {box-shadow: 12px 7px 10px #bababa;}
  }

@-webkit-keyframes fadeIn {
    0% {box-shadow: 0px 0px 0px #bababa;}
    50% {box-shadow: 5px 5px 5px #bababa;}
    100% {box-shadow: 12px 7px 10px #bababa;}
  }

@-o-keyframes fadeIn {
    0% {box-shadow: 0px 0px 0px #bababa;}
    50% {box-shadow: 5px 5px 5px #bababa;}
    100% {box-shadow: 12px 7px 10px #bababa;}
  }

/* keyframes for coin animation on click */

@keyframes photo{

    0%{
        z-index: 10;
        transform: rotateY(0deg);
    }

    25%{
        z-index: 5;
        transform: rotateY(90deg);
    }

    50%{
        z-index: 5;
        transform: rotateY(180deg);
    }

    75%{
        z-index: 10;
        transform: rotateY(270deg);
    }

    
    100%{
        z-index: 10;
        transform: rotateY(360deg);
    }
    
}


@keyframes web-icon{

    0%{
        z-index: 10;
        transform: rotateY(0deg);
    }

    25%{
        z-index: 5;
        transform: rotateY(90deg);
    }

    50%{
        z-index: 5;
        transform: rotateY(180deg);
    }

    75%{
        z-index: 10;
        transform: rotateY(270deg);
    }

    
    100%{
        z-index: 10;
        transform: rotateY(360deg);
    }
    
}


@-moz-keyframes photo{

    0%{
        z-index: 10;
        transform: rotateY(0deg);
    }

    25%{
        z-index: 5;
        transform: rotateY(90deg);
    }

    50%{
        z-index: 5;
        transform: rotateY(180deg);
    }

    75%{
        z-index: 10;
        transform: rotateY(270deg);
    }

    
    100%{
        z-index: 10;
        transform: rotateY(360deg);
    }
    
}

@-moz-keyframes icon{

    0%{
        z-index: 10;
        transform: rotateY(0deg);
    }

    25%{
        z-index: 5;
        transform: rotateY(90deg);
    }

    50%{
        z-index: 5;
        transform: rotateY(180deg);
    }

    75%{
        z-index: 10;
        transform: rotateY(270deg);
    }

    
    100%{
        z-index: 10;
        transform: rotateY(360deg);
    }
    
}

@-o-keyframes photo{

    0%{
        z-index: 10;
        transform: rotateY(0deg);
    }

    25%{
        z-index: 5;
        transform: rotateY(90deg);
    }

    50%{
        z-index: 5;
        transform: rotateY(180deg);
    }

    75%{
        z-index: 10;
        transform: rotateY(270deg);
    }

    
    100%{
        z-index: 10;
        transform: rotateY(360deg);
    }
    
}

@-o-keyframes icon{

    0%{
        z-index: 10;
        transform: rotateY(0deg);
    }

    25%{
        z-index: 5;
        transform: rotateY(90deg);
    }

    50%{
        z-index: 5;
        transform: rotateY(180deg);
    }

    75%{
        z-index: 10;
        transform: rotateY(270deg);
    }

    
    100%{
        z-index: 10;
        transform: rotateY(360deg);
    }
    
}

@-webkit-keyframes photo{

    0%{
        z-index: 10;
        transform: rotateY(0deg);
    }

    25%{
        z-index: 5;
        transform: rotateY(90deg);
    }

    50%{
        z-index: 5;
        transform: rotateY(180deg);
    }

    75%{
        z-index: 10;
        transform: rotateY(270deg);
    }

    
    100%{
        z-index: 10;
        transform: rotateY(360deg);
    }
    
}

@-webkit-keyframes icon{

    0%{
        z-index: 10;
        transform: rotateY(0deg);
    }

    25%{
        z-index: 5;
        transform: rotateY(90deg);
    }

    50%{
        z-index: 5;
        transform: rotateY(180deg);
    }

    75%{
        z-index: 10;
        transform: rotateY(270deg);
    }

    
    100%{
        z-index: 10;
        transform: rotateY(360deg);
    }
    
}


