.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 6rem;
}

.projectsTitle {
  font-weight: 600;
  font-size: 45px;
  margin-top: 4rem;
  width: 80%;
  max-width: 75rem;

}
