/* CSS styling for project box */

.project-box{
    height: 30vh;
    width: 70vw;
    border-radius: 35px;
    background-color: white;
    box-shadow: 12px 7px 7px 10px #bababa;
    margin: auto;
    margin-top: 4vh;
    text-align: left;
}

.header{
    display: flex;
}

.project-box h3{
    font-weight: 500;
    text-align: left;
    margin: 0;
    margin-left: 1vw;
    margin-top: 2.5vh;
    font-size: 25px;
    
}
.project-box p{
    font-weight: 300;
    text-align: left;
    margin: 0;
    margin-left: 0.5vw;
    margin-top: 3vh;
    font-size: 20px;
    font-style: italic;
    color: grey;
    
}

.project-content li{
    margin-left: 3vw;
    margin-bottom: 1vh;
    font-size: 15px;
}

.project-box img{
    height: 8vh;
    align-self: left;
    padding-left: 2%;
    padding-top: 1%;
}

.project-tags{
    margin-top: 3%;
    position: relative;
    background-color: #747474;
    border-radius: 0 0 35px 35px;
    height: 7vh;
    display: flex;
}

.project-tags button{
    background-color: red;
    margin: 0;
    border: none;
    height: 5vh;
}