/* CSS styling for about me card + background blobs  */
*{
    margin: 0;
    padding: 0;
}
.about-card-container::before{
    content: '';
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(#f01, #0096FF);
    clip-path: circle(25% at right 80%);
    z-index: -2;
}

.about-card-container::after{
    content: '';
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    
    position: absolute;
    background: linear-gradient(#21a6f3, #fd2f73);
    clip-path: circle(18% at left 50%);
    z-index: -2;
}

.shreyas-card{
    position: absolute; 
}

.shreyas-card:hover > .shreyas-card-front{
    transform: perspective(600px) rotateY(-180deg);
}


.shreyas-card:hover > .shreyas-card-back{
    transform: perspective(600px) rotateY(0deg);
}

.about-card{
    cursor: pointer;
    box-shadow: 5px 10px 10px 5px rgba(110, 86, 86, 0.7);
    height: 52vh;
    width: 60vw;
    border-radius: 25px;
    z-index: 1;
    padding-left: 70px;
    padding-top: 10px;
    margin-top: 100px;
    margin-left: 100px;
    backdrop-filter: blur(5px);
    position: absolute;
    white-space: pre-wrap;
}


.about-card-content{
    font-size: 20px;
    width: 58vw;
}
.about-card-content li{
    margin: 10px 0;
}


.shreyas-card-image-front{
   width: 22vw;
   height: 58vh;
   border-radius: 20px;
   opacity: 0.97;
}

.shreyas-card-back h3 {
    color: white;
    font-family: 'Source-Code-Pro' sans-serif;
    font-size: 25px;
    text-align: left;
    text-decoration: underline wavy;
    padding-top: 5%;
}

.shreyas-card-back li{
    color: white;
    font-family: 'Source-Code-Pro' sans-serif;
    font-size: 20px;
    text-align: left;
    padding-left: 0;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 90%;
}

.shreyas-card-front, .shreyas-card-back{
    width: 22vw;
    height: 58vh;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
    top: 30vh; left: 70vw;
    z-index: 2;
}

.shreyas-card-front{
    transform: perspective(600px) rotateY(0deg);
}
.shreyas-card-back{
    transform: perspective(600px) rotateY(180deg);
    background-color: #808080;
    border-radius: 20px;
    padding-left: 2vw;
}


.about-card h2, p{
    text-align: left;
    color: black;
    font-family: 'Source-Code-Pro' sans-serif;
}

.about-card h2{
    font-weight: 600;
    font-size: 38px;
    padding-top: 2vh;
}

.about-card p{
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

@media screen and (max-width: 1000px){ 

    .shreyas-card-front, .shreyas-card-back{
        display: none;
     }
    
}

