.NavbarItems{
    /* background: black; */
    background: linear-gradient(to left, white, white 150%);
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
}
.navbar-logo-image{
    height: 50px;
    width: 70px;
    overflow: hidden;
    align-self: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 18px;
}

.navbar-logo{
    color: black;
    font-family: 'Tillium-Web' sans-serif;
    font-weight: 550;
    font-size: 30px;
    font-style: italic;
    margin-left: 5px;
    cursor: pointer;
}

/* CSS styling for navigation bar links: idle + when hovered */
.nav-links{
    color: #222222;
    font-family: 'Tillium-Web' sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: transparent;
    height: 100%;
    display: flex;
    align-items: center;
    min-width: 90px;
    justify-content: center;
    
}

.nav-li{
    background-color: transparent;
    height: 100%;
    display: flex;
    align-items: center;
    min-width: 90px;
}

.nav-links:hover, .nav-links:focus {
    color: white;
    box-shadow: inset 0 75px 0 0 purple;
    transition: 0.2s ease-out;
}

.nav-li:hover, .nav-li:focus{
    box-shadow: 0 2px 20px 0 purple;
    transition: 0.4s ease-out;
}

/* menu items when the menu button is not clicked: offset menu items to the right*/
.nav-menu{
    display: grid;
    grid-template-columns: repeat(6,auto);
    /* grid-gap: 35px; */
    list-style: none;
    width: 60vw;
    text-align: center;
    justify-content: end;
    /* margin:0; */
    height: 100%;
    align-items: center;
    margin-left: 2rem;
    padding:0;
   
}

/* CSS styling for hamburger menu icon and close menu icon*/
.fa-bars, .fa-times{
    color: black;
}

.menu-icon{
    display: none; /* removing the menu icon when not in mobile display mode*/
}


/* setting up menu icon for mobile view nav bar drop down*/
/* convert to menu icon when screen it < 1000px wide*/
@media screen and (max-width: 1000px){
    .NavbarItems{
        position: relative; 
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 450px;
        position: absolute;
        top: 50px; /* to drop the nav menu in mobile mode to the same height as the NavbarItems

        /* hide the original navigation menu below a certain width in mobile mode*/
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        margin-left: 0;
    }
    .nav-menu.active{
        background: white;
        left: 0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .nav-links{
        text-align: center;
        padding: 0.5rem;
        width: 100%;
        display: table;
    }
    .nav-links:hover, .nav-links:focus{
        height: 100%;
        background-color: purple;
        box-shadow: none;
    }
    .navbar-logo{
        position: absolute;
        top:0;
        left:0;
        transform:translate(25% 50%);
        margin-top: 10px;
    }

    /* displaying the menu hamburger icon */
    .menu-icon{
        display: block;
        position: absolute;
        top:0;
        right:0;
        transform: translate(-100%, 60%);
        font-size: 1.7rem;
        cursor: pointer;
    }
}